.communityPostView {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  overflow-y: scroll;

  padding-bottom: 3.5rem;

  &__post {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;

    padding: 20px 33px;

    &__postInfo {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
