.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
    width: 90%;

    &__inputSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1rem;

      &__email {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
      }
      &__verification {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
      }

      .button {
        background-color: $color-purple-500;
        color: white;
        width: 5rem;
        height: 2.5rem;
        border-radius: 10px;
      }
    }
  }
}
