.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  width: 100%;
  flex: 1;
  min-height: 0;

  @include desktop {
    flex: 1;
    min-height: 0;
  }

  &__image {
    width: 12rem;
    height: 100%;

    border-style: solid;
    border-color: black;
    border-width: 2px;

    object-fit: cover;
  }

  &__newsTitle {
    font-weight: lighter;
    color: white;
  }
}

.additionalNews {
  display: none;
}

@include desktop {
  .additionalNews {
    display: flex;
  }
}
