@forward "./color";
@forward "./mixin";

@font-face {
  font-family: "LINESeedKR";
  font-weight: 400;
  src: url("/src/assets/fonts/LINESeedKR-Rg.ttf") format("truetype");
}

@font-face {
  font-family: "LINESeedKR";
  font-weight: 700;
  src: url("/src/assets/fonts/LINESeedKR-Bd.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "LINESeedKR", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

input:focus {
  border: 2px solid #d0bcff; /* 원하는 색상으로 변경 */
  outline: none;
}
