$mobile1: 320px;
$mobile2: 430px;
$desktop1: 901px;
$desktop2: 1400px;

@mixin non-desktop {
  @media (max-width: $desktop1) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile1) and (max-width: $mobile2) {
    @content;
  }
}

@mixin mid-mobile {
  @media (min-width: 431px) and (max-width: 900px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop1) {
    @content;
  }
}

@mixin non-mobile {
  @media (min-width: 431px) {
    @content;
  }
}
